.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.button {
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 2px;
  color: white;
  background-color: #4285f4;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
